{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderSeparation": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./ ]",
    "<THIRD_PARTY_TYPES>",
    "<TYPE>^[./ ]"
  ]
}